/* PUSLAPIO HEADER ZODZIAI */
.pageHeadline {
    padding: 20px;
    text-align: center;
    background: hsla(0,100%,100%, 0.5);
	box-shadow: 0 0 0 1px hsla(0,100%,100%,.3) inset,
	            0 .5em 1em rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 1px hsla(0,100%,100%,.3);
}

/* STULPELIAI BOOTSRAP */

#firstColumn, #secondColumn, #thirdColumn {
    padding: 20px;
    text-align: center;
    background: hsla(0,100%,100%,0.7);
    position: relative;
    overflow: hidden;
	box-shadow: 0 0 0 1px hsla(0,100%,100%,.3) inset,
	            0 .5em 1em rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 1px hsla(0,100%,100%,.3);
}
#firstColumn, #thirdColumn{
    margin: 23px;
}

/* PIRMO STULPELIO BLOKAI */

.backgroundButton {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    border: 10px solid;
    margin: 20px;
    filter: blur(2px); 
}
.backgroundButton:hover {
    filter: none;
}

#firstButton, .firstBackgroundColor {
    background: #655;
    background-image: radial-gradient(tan 30%, transparent 0),
    radial-gradient(tan 30%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}

#secondButton, .secondBackgroundColor {
    background: #58a;
    background-image:
    linear-gradient(white 2px, transparent 0),
    linear-gradient(90deg, white 2px, transparent 0),
    linear-gradient(hsla(0,0%,100%,.3) 1px,
    transparent 0),
    linear-gradient(90deg, hsla(0,0%,100%,.3) 1px,
    transparent 0);
    background-size: 75px 75px, 75px 75px,
    15px 15px, 15px 15px;
}

#thirdButton, .thirdBackgroundColor {
    background:
        repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 25%,
            tomato 0,
            tomato 50%
        ),
        repeating-linear-gradient(
            45deg,
            transparent,
            transparent 25%,
            dodgerblue 0,
            dodgerblue 50%
        ), wheat;
    background-size: 10em 10em;
    background-blend-mode: multiply;
}

#fourthButton, .fourthBackgroundColor {
    background: #1a2a6c; 
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d); 
}

/* ANTRO STULPELIO BLOKAI */

.photoSliderBlock {
    margin-top: 40px;
}

.photoInCircleBlock {
    margin-top: 40px;
}

.panoramicBlock {
    margin-top: 40px;
}


.img-comp-container {
    position: relative;
    height: 210px;
    width: 310px;
    margin: auto;
    border: solid black 5px;
  }
  
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .img-comp-img img {
    display: block;
    vertical-align: middle;
  }
  
  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    
    width: 10px;
    height: 40px;
    background-color: white;
    border-radius: 10%;
  }



@keyframes spin {
    to { transform: rotate(1turn); }
}
@keyframes spin-reverse {
    from { transform: rotate(1turn); }
}
    
.avatar {
    margin: calc(200% - 25px) auto 0;
	width: 50px;
    transform-origin: 50% 100px; /* 150px = path radius */
    border-radius: 50%;
    overflow: hidden;
    
}

.path:hover {
    animation: spin 3s infinite linear;
}

.avatar > img {
    animation: spin-reverse 3s infinite linear;
}
    

.path {
	width: 75px; height: 75px;
	margin: auto;
    background: #fb3;
    border-radius: 50%;  
}

.pathLine {  
    width: 230px; height: 230px;
    margin: auto;
    padding-top: 72px;
    margin-bottom: 20px;
    border-radius: 50%;     
    border: black solid;
    border-style: dashed;
}

@keyframes panoramic {
	to { background-position: 80% 0; }
}

.panoramic {
	width: 300px; height: 150px;
	background: url('https://d3fa68hw0m2vcc.cloudfront.net/3e4/196646565.jpeg');
	background-size: auto 100%;	
	animation: panoramic 2s linear infinite alternate;
    animation-play-state: paused;
    margin: auto;
    border: black solid;
}

.panoramic:hover, .panoramic:focus {
	animation-play-state: running;
}

/* TRECIO STULPEPIO BLoKAI */

svg {
    margin: auto;
    margin-top: 40px;
}

circle {
    fill: yellowgreen;
    stroke: #655;
    stroke-width: 30;
    stroke-dasharray: 150 56;
}

.pie {
    margin: auto; margin-top: 55px;
    width: 125px; height: 125px;
    border-radius: 50%;
    background: yellowgreen;
    background-image:
    linear-gradient(to right, transparent 50%, #655 0);
}

.pie::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background: #655;
    transform-origin: left;
    transform: rotate(.1turn);
} 

.secondPicture {
    margin: auto;
    margin-top: 40px;
}

.secondPicture img {
    width: 200px; height: 200px;
    border-radius: 50%;
    border: solid black 5px;
}

.picture {
    margin: auto;
    margin-top: 60px; margin-bottom: 60px;
    padding-left: 10px;
    width: 150px; height: 150px;
    transform: rotate(45deg);
    overflow: hidden;

    border: solid black 5px;
    border-image: 16 repeating-linear-gradient(-45deg,
        red, blue)
}
.picture > img {
    max-width: 100%;
    transform: rotate(-45deg) scale(1.55);
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
	.secondColumnAllBlocks, .thirdColumnAllBlocks {
		display:flex;
		justify-content:space-around;
	}
}
