html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 100%;
}

/* --------  NAV BAR ITEMS GLOBAL  ---------- */  
.nav-item {
	font-size: 20px;
	text-align: center;
}

#navBarButtons { 
	display: flex; 
	justify-content: center; 
}

#navBarButtons a { margin: 10px; }

#gameButton { cursor: not-allowed; }

#registerButtonInMain {
	margin: 20px;
	margin-left: 145px;
}

/* --------  MAIN CONTENT GLOBAL   ---------- */  

main {
	flex: 1 0 auto;
}

/* --------  KIEKVIENO PUSLAPIO TAG RASYMAS PO RAIDE  ---------- */  

.pageHeadline {
	text-align: center;	
	padding-top: 25px;
}

/* RASYMO EFEKTAS */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* RASYMO LINIJOS EFEKTRAS */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
.typingText {
  overflow: hidden; /* Privercia neparodyt kol nepasibaigia animacija */
  white-space: nowrap; /* Viska palieka vienoje eiluteje */
  margin: 0 auto;
  letter-spacing: .15em; /* Tarpai tarp raidziu */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* --------  FOOTER STICKING TO VIEWPOINT END GLOBAL   ---------- */  

footer {
  border-radius: 15px 15px 0 0;
  flex-shrink: 0;
  width: 80%;
  align-self: center;
  color: white;
}

footer .container { padding-top: 12px; text-align: center; }
.back-to-top { color: white; }

#sizeButton {
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	height: 25px;
}

/* --------  KEITIMASIS PAGAL EKRANU DYDZIUS   ---------- */  

/* - TELEFONO EKRANAS - */  
@media (max-width: 575.98px) { 
	.navbar-brand {
		position: relative;
		left: 50%;
		transform: translatex(-50%);
	}
	.card-columns {
		column-count: 1;
	}
    /* - PADARO NUO DARK MODE MYGTUKO TARPA - */
	.custom-switch {
		padding-bottom: 15px;
	}
	.featurette-image {
		width: 50%;
	}
}

/* - TELEFONU-TABLET EKRANAI - */  
@media (min-width: 576px) and (max-width: 767.98px) { 

	.navbar-brand {
		position: relative;
		left: 50%;
		transform: translatex(-50%);
	}
	.card-columns {
		column-count: 1;
	}
}

/* TABLETAI */
@media (min-width: 768px) and (max-width: 991.98px) { 

	.navbar-brand {
		position: relative;
		left: 50%;
		transform: translatex(-50%);
	}
	.card-columns {
		column-count: 2;
	}
}

/* IPRASTI KOMPIUTERIU EKRANAI */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* DIDELI KOMPIUTERIO EKRANAI - TELEVISORIAI */
@media (min-width: 1200px) { 
	.card-columns {
		column-count: 3;
	}
}
