html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  
}

.dark-mode {
	background: #111 !important;
	color: #eee;
  } 

/* --------  NAV BAR ITEMS GLOBAL  ---------- */  
.nav-item {
	font-size: 20px;
	text-align: center;
}

#navBarButtons { 
	display: flex; 
	justify-content: center; 
}

#navBarButtons a { margin: 10px; }

#registerButtonInMain {
	margin: 20px;
	margin-left: 145px;
}

/* --------  MAIN CONTENT GLOBAL   ---------- */  

main {
	flex: 1 0 auto;
}

/* --------  KIEKVIENO PUSLAPIO TAG RASYMAS PO RAIDE  ---------- */  

.pageHeadline {
	text-align: center;	
	padding-top: 25px;
}

/* RASYMO EFEKTAS */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* RASYMO LINIJOS EFEKTRAS */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
.typingText {
  overflow: hidden; /* Privercia neparodyt kol nepasibaigia animacija */
  white-space: nowrap; /* Viska palieka vienoje eiluteje */
  margin: 0 auto;
  letter-spacing: .15em; /* Tarpai tarp raidziu */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* --------  FOOTER STICKING TO VIEWPOINT END GLOBAL   ---------- */  

footer {
  border-radius: 15px 15px 0 0;
  flex-shrink: 0;
  width: 80%;
  align-self: center;
  color: white;
}

.container .row {
	margin-bottom: 10px;
}

footer .container { padding-top: 12px; text-align: center; }
.back-to-top { color: white; }

#sizeButton {
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	height: 25px;
}

/* --------  KEITIMASIS PAGAL EKRANU DYDZIUS   ---------- */  

/* - TELEFONO EKRANAS - */  
@media (max-width: 575.98px) { 
	.navbar-brand {
		position: relative;
		left: 50%;
		transform: translatex(-50%);
	}
	.card-columns {
		column-count: 1;
	}
	footer {
		width: 90%;
		
	}
	.featurette-image {
		width: 50%;
	}	
	#rightside {
		margin: 20px;
		margin-left: 50px;
	}
	.col-md-3 {
		margin: 10px;
		
	}
}

/* - TELEFONU-TABLET EKRANAI - */  
@media (min-width: 576px) and (max-width: 767.98px) { 

	.navbar-brand {
		position: relative;
		left: 50%;
		transform: translatex(-50%);
	}
	.card-columns {
		column-count: 1;
	}
	footer {
		width: 90%;
		
	}
	#rightside {
		margin: 20px;
		margin-left: 50px;
		width: 100%;
	}
	.col-md-3 {
		margin: 10px;
		text-align: center;
	}

}

/* TABLETAI */
@media (min-width: 768px) and (max-width: 991.98px) { 

	#article {
		display:none;
	}
	.navbar-brand {
		position: relative;
		left: 50%;
		transform: translatex(-50%);
	}
	.card-columns {
		column-count: 2;
	}
	#rightside {
		margin: 20px;
		margin-left: 50px;
		margin: auto;
	}
	#rightsideMain  {
		display:flex;
		justify-content:space-around;
	}
	.col-md-5 {
		margin-left: 50px;
	}
	.col-md-5 img {
		margin-bottom: 25px	;
	}
}

/* IPRASTI KOMPIUTERIU EKRANAI */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	#rightside {
		margin: auto;
	}
	#rightsideMain  {
		display:flex;
		justify-content:space-around;
	}	
	.col-md-5 {
		margin-left: 50px;
	}
	.col-md-5 img {
		margin-bottom: 25px;
	}
 }

/* DIDELI KOMPIUTERIO EKRANAI - TELEVISORIAI */
@media (min-width: 1200px) { 
	.card-columns {
		column-count: 3;
	}
	footer {
		width: 80%;
	}
}


#rightside {

	/* NUO ZALSVOS I TAMSIAI PILKA PEREJIMAS*/
	/*background: linear-gradient(rgb(181, 201, 117), rgb(91, 98, 102));*/

	/* NUO GELSVOS I MELSVVA PER PUSE */
	/* background: linear-gradient(#fb3 50%, #58a 50%); */

	/* NUO GELSVOS I MELSVVA SU PROCENTALIU PEREJIMU */
	/* background: linear-gradient(#fb3 30%, #58a 70%); */

	/* NUO GELSVOSS I MELSVA LINIJOMIS ISSILIEJANT */
	/* background: linear-gradient(45deg,
	#fb3 25%, #58a , #58a ,
	#fb3 , #fb3 , #58a); */

	/* NUO GELSVOSS I MELSVA LINIJOMIS  */
	/* background: linear-gradient(45deg,
	#fb3 25%, #58a 0, #58a 50%,
	#fb3 0, #fb3 75%, #58a 0);
	background-size: 30px 30px; */

	background: linear-gradient(rgb(181, 201, 117), rgb(91, 98, 102));
	max-width: 80%;
	margin-bottom: 10px;

	text-align: center;
	padding-top: 10px;
	font-family: 'Fredoka One', cursive;
}
#rightsideMain .new {
	width: 129px;
	height: 180px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 23px; 
	border: solid;
	cursor: pointer;
	margin: auto;
	margin-bottom: 10px;
}

#rightsideMain div img {
	width: 125px;
	height: 125px;
	border: solid;
	border-radius: 20px; 
	cursor: pointer;
}

.new p {
	font-size: 10px;
	padding: 5px;
}

.card-img-top {
	filter: sepia();
}

.card-img-top:hover {
	filter: none;
}

#contentBody {
		background:
		repeating-linear-gradient(
			-45deg,
			transparent,
			transparent 25%,
			tomato 0,
			tomato 50%
		)
		repeating-linear-gradient(
			45deg,
			transparent,
			transparent 25%,
			dodgerblue 0,
			dodgerblue 50%
		), wheat;

	background-size: 10em 10em;
	background-blend-mode: multiply;
}